
.container{
    width: 90%;
    margin: auto;
    height:100%;
    color: #4e4af7;
}


.container > h1  {
    font-family: "Showcard Gothic";
    display: block;
    text-align: center;
    width: 50%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 30px auto;
    padding: 15px;
    
}

.container > img{
    display: block;
    margin: auto;

}
.container > button{
    background-color: rgb(89, 222, 255);
    color: white;
    padding: 15px;
    font-size: 1.7em;
    border-radius: 10px;
    border: 1px solid rgb(59, 169, 233);
    margin: 20px auto;
    display: block;
    font-family: "Showcard Gothic";
}


/* Pseudoclase */
.container > button:hover{
    background-color: rgb(122, 255, 248);
    font-size: 1.8em;
    cursor: pointer; 
}


a:visited {
    color: #4e4af7;
}


