.cardQuestion{
    margin: 50% auto;
    width: 80%;    
    padding: 10px 30px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

@media (width > 600px) {
    .cardQuestion{ 
        margin: 30px auto;
        max-width: 500px;  
    }
}